.containerr {
    width: 90%;
    margin: 0 auto;
}

.posts {
    position: relative;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 70px;
    }
    &__item {
        width: 350px;
        height: 300px;
        background-color: #fff;
        position: relative;
        padding: 24px;
        margin-bottom: 85px;
    }

    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;

        color: #000000;
    }
    &__name {
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: underline;

        color: #000000;
        margin-bottom: 25px;
    }

    &__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;

        color: #000000;
    }

    &__next {
        cursor: pointer;
        height: 24px;
        width: 24px;
        margin: 20px;
        position: absolute;
        bottom: 50px;
        right: -24px;
        span {
            background: #757575;
            height: 3px;
            left: -30px;
            position: absolute;
            top: 60px;
            width: 18px;
            &:nth-child(1) {
                top: 61px;
                transform: rotate(45deg);
                transform-origin: bottom right;
            }
            &:nth-child(2) {
                transform: rotate(-45deg);
                transform-origin: top right;
            }
        }
    }

    &__more {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    &__filter {
        margin-top: 15px;
        text-align: center;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}